global
    log stdout format raw local0 debug
    tune.lua.bool-sample-conversion pre-3.1-bug   # 消除 Lua 版本警告
    lua-load /usr/local/etc/haproxy/lua/mqtt_route.lua
    tune.lua.session-timeout 5s

defaults
    mode tcp
    timeout connect 10s
    timeout client 30s
    timeout server 30s

frontend mqtt_gateway
    bind :::8443 ssl crt /usr/local/etc/haproxy/certs/server_cert/fullchain.crt ca-file /usr/local/etc/haproxy/certs/client_cert/ca.crt verify required
    option tcplog
    log global                                  # 开启日志
    #log-format "Client Cert Chain: %{+Q}[ssl_c_chain]"
    mode tcp
    tcp-request inspect-delay 5s
    tcp-request content lua.process_mqtt_connect
    tcp-request content accept if { ssl_c_used }
    tcp-request content reject if { var(txn.reject) -m bool }
    default_backend mqtt_backend                # 与后端名称一致

backend mqtt_backend
    mode tcp
    server mqtt_broker 0.0.0.0:0 send-proxy-v2 proxy-v2-options ssl
