global
    log stdout format raw local0 debug
    tune.lua.bool-sample-conversion pre-3.1-bug   # 消除 Lua 版本警告
    lua-prepend-path /usr/local/etc/haproxy/lua/?.lua
    lua-load /usr/local/etc/haproxy/lua/mqtt_route.lua
    tune.lua.session-timeout 5s
    stats socket /var/run/haproxy/admin.sock mode 660 level admin expose-fd listeners
    
defaults
    mode tcp
    timeout connect 10s
    timeout client 300s
    timeout server 300s

frontend mqtt_gateway
    bind :::8883 ssl crt /usr/local/etc/certs/server_cert/fullchain.crt ca-verify-file /usr/local/etc/certs/client_cert/client-root.crt ca-file /usr/local/etc/certs/client_cert/ca_inter_bundle.crt verify required
    option tcplog
    log global                                  # 开启日志
    mode tcp
    tcp-request content lua.match_backend_by_dht
    use_backend %[var(txn.target_backend)] if { var(txn.target_backend) -m found }

backend mqtt_backend_HN4y9qXcvsTHTmuK959VBXVZTuhH9TqD5mRomKK1fs59
    mode tcp
    server mqtt_broker_HN4y9q 2404:7a82:1be9:3f00:96c6:91ff:fea6:7bd0:18883 ssl ca-file /usr/local/etc/certs/internal_cert/internal-root.crt crt /usr/local/etc/certs/internal_cert/internal-client.crt.key.pem verify required

#backend mqtt_backend_FDVtTg3qfMyoqdVMj3mmRdDoKVRD1MMMmBK3yK5TTwTw
#    mode tcp
#    server mqtt_broker_FDVtTg 2404:7a82:1be9:3f00:96c6:91ff:fea6:7bd0:18883 ssl ca-file /usr/local/etc/certs/internal_cert/internal-root.crt crt /usr/local/etc/certs/internal_cert/internal-client.crt.key.pem verify required
